header {
    background: url('../img/header-main.jpg') no-repeat center center;
    background-size: 100%;
    height: 704px;
}
.header-menu-bg {
    background-color: #1fa3ff;
    height: 65px;
    border: none;
    border-radius: 0;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.header-logo {
    display: block;
    margin-top: 11px;
}
.header-nav ul li {
    padding-top: 6px;
    margin-right: 33px;
}
.header-nav ul li a {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Open Sans';
    colof: #fff;
}
.header-button {
    position: relative;
    height: 43px;
    background-color: #3fba02;
    margin-top: 11px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.header-button a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans';
    top: -10px;
}
.header-banner-bg {
    background: rgba(73,80,86,0.66);
    height: 108px;
    margin-top: 384px;
    width: 110%;
    margin-left: -5%;
}

@media only screen and (max-width: 1310px) {
    .header-banner-bg {
        width: 106%;
        margin-left: -3%;
    }
}
@media only screen and (max-width: 1276px) {
    .header-banner-bg {
        width: 102%;
        margin-left: -1%;
    }
    header {
        height: 680px;
    }
}
@media only screen and (max-width: 1230px) {
    .header-banner-bg {
        margin-top: 370px;
        width: 100%;
        margin-left: 0;
    }
    header {
        height: 660px;
    }
}

.header-banner-text {
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    font-family: 'Myriad Pro';
    margin-top: 22px;
}
.header-banner-button {
    position: relative;
    height: 60px;
    width: 220px;
    background-color: #3fba02;
    margin-top: 24px;
    margin-left: 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.header-banner-button a{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: 'Open Sans';
    top: 12px;
}

@media only screen and (max-width: 1199px) {
    .header-nav ul li {
        margin-right: 0;
    }
    .header-button a {
        left: 0;
    }
    .header-banner-bg {
        width: 110%;
        margin-left: -5%;
        margin-top: 350px;
    }
    .header-banner-text {
        font-size: 44px;
    }
    .header-banner-button {
        margin-left: 10px;
    }
    header {
        height: 640px;
    }
}
@media only screen and (max-width: 1158px) {
    header {
        height: 600px;
    }
    .header-banner-bg {
        margin-top: 320px;
    }
}
@media only screen and (max-width: 1090px) {
    header {
        height: 560px;
    }
    .header-banner-bg {
        margin-top: 280px;
        width: 104%;
        margin-left: -2%;
    }
    .header-banner-text {
        font-size: 42px;
    }
}
@media only screen and (max-width: 1030px) {
    .header-banner-bg {
        margin-top: 260px;
    }
    .header-banner-text {
        font-size: 42px;
    }
    header {
        height: 540px;
    }
    .header-button a {
        left: 2px;
    }
}
@media only screen and (max-width: 991px) {
    .header-banner-bg {
        width: 120%;
        margin-left: -10%;
    }
    .header-menu-bg > .container {
        width: 100%;
    }
    .header-banner-text {
        font-size: 37px;
        margin-top: 28px;
    }
    .header-banner-button {
        width: 160px;
    }
    .header-banner-button a {
        font-size: 19px;
        top: 16px;
    }
}
@media only screen and (max-width: 983px) {
    .header-nav ul li a {
        font-size: 16px;
    }
    header {
        height: 500px;
    }
    .header-banner-bg {
        margin-top: 240px;
    }
}
@media only screen and (max-width: 928px) {
    .header-nav ul li a {
        font-size: 14px;
    }
}
@media only screen and (max-width: 909px) {
    header {
        height: 460px;
    }
    .header-banner-bg {
        margin-top: 200px;
    }
    .header-banner-bg {
        width: 110%;
        margin-left: -5%;
    }
    .header-banner-text {
        font-size: 35px;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 872px) {
    .header-nav ul li a {
        font-size: 12px;
    }
}
@media only screen and (max-width: 837px) {
    header {
        height: 420px;
    }
    .header-banner-bg {
        margin-top: 160px;
    }
}
@media only screen and (max-width: 817px) {
    .header-nav ul li a {
        font-size: 10px;
    }
    .header-banner-bg {
        width: 104%;
        margin-left: -2%;
    }
    .header-banner-text {
        font-size: 32px;
        margin-top: 33px;
    }
}
@media only screen and (max-width: 767px) {
    .header-banner-bg {
        width: 102%;
        margin-left: -1%;
    }
    .navbar-collapse {
        border: none;
        background: rgba(31,163,255,0.9);
    }
    .header-button {
        width: 30%;
        margin-left: 35%;
    }
    .header-button a {
        top: -5px;
    }
    .header-nav ul li a {
        font-size: 16px;
        text-align: center;
    }
    .header-menu-bg {
        z-index: 999;
    }
    header {
        height: 380px;
    }
    .header-banner-bg {
        margin-top: 120px;
    }
}
@media only screen and (max-width: 711px) {
    .header-banner-text {
        font-size: 26px;
        margin-top: 38px;
    }
    .header-banner-button {
        margin-left: 0;
        width: 150px;
    }
    .header-banner-button a{
        font-size: 16px;
        top: 19px;
    }
}
@media only screen and (max-width: 693px) {
    header {
        height: 340px;
    }
    .header-banner-bg {
        margin-top: 80px;
    }
}
@media only screen and (max-width: 645px) {
    .header-banner-button {
        width: 120px;
    }
    .header-banner-button a {
        font-size: 12px;
    }
}
@media only screen and (max-width: 621px) {
    header {
        height: 300px;
    }
    .header-banner-bg {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 567px) {
    .header-banner-text {
        font-size: 22px;
        margin-top: 40px;
    }
}
@media only screen and (max-width: 550px) {
    header {
        height: 280px;
    }
}
@media only screen and (max-width: 530px) {
    .header-banner-button {
        width: 100px;
    }
    .header-banner-button a {
        font-size: 10px;
    }
}
@media only screen and (max-width: 514px) {
    header {
        height: 240px;
    }
    .header-menu-bg {
        height: 40px;
    }
    .header-banner-bg {
        height: 80px;
        margin-top: 60px;
    }
    .header-banner-text {
        font-size: 20px;
        margin-top: 26px;
    }
    .header-banner-button {
        margin-top: 10px;
    }
    .header-button {
        width: 50%;
        margin-left: 25%;
    }
}
@media only screen and (max-width: 456px) {
    .header-banner-text {
        font-size: 16px;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 442px) {
    header {
        height: 220px;
    }
    .header-banner-button {
        width: 88px;
    }
    .header-banner-button a {
        font-size: 8.5px;
    }
}
@media only screen and (max-width: 406px) {
    header {
        height: 200px;
    }
    .header-logo img{
        max-width: 50%;
    }
    .header-banner-bg {
        height: 60px;
        margin-top: 30px;
    }
    .header-banner-text {
        font-size: 16px;
        margin-top: 20px;
    }
    .header-banner-button {
        height: 40px;
        width: 80px;
    }
    .header-banner-button a {
        top: 10px;
        font-size: 7px;
    }
}
@media only screen and (max-width: 366px) {
    .header-banner-text {
        font-size: 14px;
        margin-top: 22px;
    }
}
@media only screen and (max-width: 357px) {
    header {
        height: 190px;
    }
    .header-banner-button {
        width: 70px;
    }
    .header-banner-button a {
        font-size: 6px;
    }
}
@media only screen and (max-width: 339px) {
    header {
        height: 180px;
    }
}
@media only screen and (max-width: 329px) {
    .header-banner-text {
        font-size: 13px;
        margin-top: 24px;
    }
}

    .content-lesson {
    background: url('../img/lessons-bg.jpg') repeat-x;
}
.content-top-text {
    height: 100px;
    color: #444;
    font-size: 40px;
    font-family: 'Open Sans Codensed Bold';
    text-transform: uppercase;
}
.content-top-text span {
    margin-top: 30px;
    display: block;
}
.lesson {
    background-color: #fff;
    margin: 10px;
    width: 31.5%;
    position: relative;
}
.lesson a {
    text-decoration: none;
}
.lesson-article {
    display: block;
    position: relative;
    height: 55px;
    width: 90%;
    margin: 0 5%;
    top: -12px;
    background-color: #28ade4;

    -o-box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
}
.lesson-article-text {
    display: block;
    position: relative;
    top: 14px;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Open Sans Codensed Bold';
}
.lesson-img {
    position: relative;
    width: 90%;
    margin: 0 5%;
    padding-top: 0;
    top: -12px;
    height: 184px;
}
.lesson-price{
    display: block;
    position: relative;
    font-size: 48px;
    font-family: 'Open Sans Codensed Bold';
    color: #fff;
    margin-left: 5%;
    top: -73px;
    left: 5px;
}
.lesson-text {
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans';
    width: 90%;
    margin: 15px 5%;
    top: -77px;
    height: 100px;
}
.lesson-button {
    display: block;
    position: relative;
    width: 36%;
    margin: 0 32%;
    height: 36px;
    background-color: #28ade4;
    bottom: 20px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lesson-button-text {
    display: block;
    position: relative;
    top: 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans';
}

@media only screen and (max-width: 1199px) {
    .lesson {
        margin: 8.5px;
    }
    .lesson-article-text {
        font-size: 18px;
    }
}
@media only screen and (max-width: 991px) {
    .lesson {
        margin: 6.5px;
    }
    .lesson-article-text {
        font-size: 16px;
    }
    .lesson-text {
        font-size: 12px;
    }
    .lesson-button {
        width: 42%;
        margin: 0 29%;
    }
}
@media only screen and (max-width: 767px) {
    .lesson {
        width: 90%;
        margin: 5%;
    }
    .content-lesson {
        background: url('../img/lessons-bg.jpg') repeat;
    }
    .lesson-article-text {
        font-size: 24px;
    }
    .lesson-text {
        font-size: 16px;
    }
    .lesson-price {
        font-size: 62px;
        top: -85px;
    }
    .lesson-button-text {
        font-size: 16px;
    }
    .content-top-text {
        text-align: center;
    }
}
@media only screen and (max-width: 442px) {
    .lesson-text {
        font-size: 14px;
    }
}

.content-school {
    background-color: #fff;
}
.school-text {
    margin: 20px 70px 20px 0;
    font-family: 'Open Sans';
    font-size: 14px;
}
.school-img {
    width: 92%;
}
.content-facebook {
    height: 389px;
    border: 1px solid black;
    margin-top: 30px;
}
.content-gallery {
    background-color: #fff;
    position: relative;
    margin-bottom: 60px;
}
.gallery {
    border: 1px solid #ebebeb;
    height: 165px;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    width: 21.5%;
}
.gallery-img {
    display: block;
    height: 153px;
    margin-top: 5px;
    width: 97%;
    margin-left: 1.5%;
}

@media only screen and (max-width: 1199px) {
    .gallery {
        margin: 0 16.5px;
    }
}
@media only screen and (max-width: 991px) {
    .gallery {
        margin: 0 13px;
    }
}
@media only screen and (max-width: 767px) {
    .content-facebook {
        display: none;
    }
    .gallery {
        width: 46%;
        margin: 10px 2%;
    }
    .school-text {
        margin-right: 0;
    }
    .school-img {
        width: 100%;
    }
}

.footer-top-bg {
    background: url('../img/footer-button-bg.jpg') repeat-x;
    height: 134px;
}
.footer-top-bg a {
    text-decoration: none;
}
.footer-top-text {
    display: block;
    color: #555;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 38px;
    font-family: 'Open Sans';
}
.footer-top-button {
    display: block;
    position: relative;
    background-color: #3fba02;
    height: 58px;
    margin-top: 40px;
    margin-left: 40px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.footer-top-button-text {
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-size: 24px;
    font-family: 'Open Sans';
    position: relative;
    top: 12px;
}
.footer-main-bg {
    background-color: #89cfff;
    height: 533px;
    padding: 0;
}
.footer-main-top {
    height: 466px;
}
.footer-main-topic {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Open Sans Codensed Bold';
    margin-top: 25px;
}
.footer-main-line {
    height: 2px;
    background-color: #b5e1ff;
}
.footer-nav a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform: uppercase;
}
.footer-nav ul {
    margin-top: 23px;
}
.footer-nav ul li {
    display: inline-block;
    margin-right: 18px;
}
.contact-topic {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans';
    margin-bottom: 0;
    margin-top: 17px;
}
.contact-text {
    color: #444;
    font-size: 18px;
    font-family: 'Open Sans';
}
#map_canvas {
    height: 340px;
    border: 10px solid #fff;
    margin-top: 17px;
}

@media only screen and (max-width: 1199px) {
    .footer-top-text {
        font-size: 34px;
        margin-top: 45px;
    }
}
@media only screen and (max-width: 991px) {
    .footer-top-button {
        margin-left: 0;
    }
    .footer-top-button-text {
        font-size: 21px;
    }
}
@media only screen and (max-width: 767px) {
    .footer-top-bg {
        height: 268px;
        background: url('../img/footer-button-bg.jpg') repeat;
    }
    .footer-main-bg {
        height: 760px;
    }
    .footer-main-line {
        display: none;
    }
    .footer-nav {
        display: none;
    }
    .footer-main-topic {
        text-align: center;
    }
}
@media only screen and (max-width: 560px) {
    .contact-text {
        font-size: 16px;
    }
}
@media only screen and (max-width: 480px) {
    .contact-text {
        font-size: 14px;
    }
    .contact-topic {
        font-size: 16px;
    }
}
@media only screen and (max-width: 435px) {
    .contact-text {
        font-size: 12px;
    }
    .contact-topic {
        font-size: 14px;
    }
}
@media only screen and (max-width: 366px) {
    .contact-text {
        font-size: 10px;
    }
    .contact-topic {
        font-size: 12px;
    }
    .footer-top-button-text {
        font-size: 18px;
        top: 16px;
    }
    .content-top-text {
        font-size: 30px;
    }
    .lesson-text {
        font-size: 13px;
    }
}
